*
{
  box-sizing: content-box;
}
body
{
  padding: 0;
  margin: 0;

}
.container
{
  background-color: transparent;
  margin: 14vh 11vw;
  padding: 4vh 10vw;
  max-width: 1440px;
  min-width: 375px;
  overflow: auto;
  height: 60vh;
  text-align: center;
  vertical-align: middle;


}
#preButton
{

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#image
{
  height: 45vh;
  border-radius: 7px;
}
#nextButton
{
  margin-left: -1vw;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#buttonContainer
{
  bottom: 3vh;
  position: relative;
}
#imageContainer
{
  background-repeat: : no-repeat;
  background-image: url("file:///D:/FirstProject/testimonialsSlider/images/pattern-bg.svg");
  background-size: cover;
  display: inline-block;
  width: 40%;
  float: right;
}
#description
{
  background-image: url("file:///D:/FirstProject/testimonialsSlider/images/pattern-quotes.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 60%;
  float: right;
}
#name , #title
{
  display: inline;
}
#about
{
  right: 7vw;
    position: relative;
    top: 5vh;
}
